.givewp-options-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;

    &--label {
        margin-bottom: 0;
    }

    &--button {
        color: var(--givewp-grey-500);
        padding: 0 !important;
        min-width: fit-content !important;
        height: fit-content !important;

        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}

.givewp-options-list {

    &--item {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: 1.875rem;
        margin-top: 0.5rem;

        > * {
            align-self: center;
        }

        &--draggable {
            color: var(--givewp-grey-500);
            cursor: grab;
            display: flex;
            user-select: none;
        }

        &--checked {
            margin: 0 !important;
            width: 1rem !important;
        }

        &--inputs {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .components-base-control {
                margin-bottom: 0 !important;
            }

            &--open {
                grid-row: span 2;

                textarea {
                    height: 64px;
                    border: solid 1px #8c8c8c;
                    border-radius: 2px;
                }
            }
        }

        &--button {
            color: var(--givewp-grey-500);
            padding: 0 !important;
            min-width: fit-content !important;
            height: fit-content !important;
        }
    }
}

.givewp-amount-description-toggle {
    label {
        text-align: right;
        margin-right: 0;
        max-width: 100%;
    }
}
